@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
  @apply text-2xl;
}

button.wallet-adapter-button-trigger {
  background: purple;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  transition: all 0.3s ease;
}

button.wallet-adapter-button-trigger:hover {
  background-color: plum !important;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
